#Mac files
.DS_Store

#Vs Code
.vscode

#secret files
.env
-docker/.env

#localhost cert files
*.crt
*.key

#frontend
frontend/node_modules/
frontend/public/build/
frontend/public/global.css

#ignore frontend static import
frontend/assets.go
frontend/public/css/main.css
