#Mac files
.DS_Store

#Vs Code
.vscode

#secret files
.env
-docker/.env

#localhost cert files
*.crt
*.key

#frontend
node_modules/
dist/*
-dist/.gitkeep
bundle.js

#ignore frontend static import
frontend/assets.go
