.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-bottom: 5px;
  background-color: #475c7a;
  color: #dfe6e9;
}

header,
#content,
footer {
  padding-left: 350px;
}

@media only screen and (max-width: 992px) {
  header,
  #content,
  footer {
    padding-left: 0;
  }
}

.nav-header {
  padding-left: 32px;
  padding-right: 32px;
  color: #2d3436;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #475c7a;
}

.content-body {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  color: #475c7a;
}

.sidenav {
  background-color: #fcbb6d;
  color: #2d3436;
}

.nav-header-hr {
  margin-left: 32px;
  margin-right: 32px;
  border: 1px solid #475c7a;
}

#view-schedule-modal.modal {
  width: 98%;
  height: 92%;
  max-height: 92%;
}
.nav-icon {
  color: #475c7a;
  width: 50px;
  height: 40px;
}

#calendar {
  overflow: auto;
}

#calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  display: table-row;
  text-align: center;
}

.row {
  display: table-row;
  height: 90px;
}

.cell {
  display: table-cell;
  border: none;
  border-width: thin;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

/* .colors {
  background-color: #fcbb6d #d8737f #ab6c82 #685d79 #475c7a #dfe6e9 #2d3436;
} */
